In [1]:
import numpy as np
import pandas as pd
import os

In [4]:
data = pd.read_csv('f1.csv')
data.head()

,Airline,Source,Destination,Total_Stops,Price,Date,Month,Year,Dep_hours,Dep_min,Arrival_hours,Arrival_min,Duration_hours,Duration_min
0,IndiGo,Banglore,New Delhi,0,3897,24,3,2019,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,2,7662,1,5,2019,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,2,13882,9,6,2019,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,1,6218,12,5,2019,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,1,13302,1,3,2019,16,50,21,35,4,45

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Airline         10683 non-null  object
 1   Source          10683 non-null  object
 2   Destination     10683 non-null  object
 3   Total_Stops     10683 non-null  int64
 4   Price           10683 non-null  int64
 5   Date            10683 non-null  int64
 6   Month           10683 non-null  int64
 7   Year            10683 non-null  int64
 8   Dep_hours       10683 non-null  int64
 9   Dep_min         10683 non-null  int64
 10  Arrival_hours   10683 non-null  int64
 11  Arrival_min     10683 non-null  int64
 12  Duration_hours  10683 non-null  int64
 13  Duration_min    10683 non-null  int64
dtypes: int64(11), object(3)
memory usage: 1.1+ MB

In [6]:
print(data.isnull().sum())
print(data.duplicated().sum())

Airline           0
Source            0
Destination       0
Total_Stops       0
Price             0
Date              0
Month             0
Year              0
Dep_hours         0
Dep_min           0
Arrival_hours     0
Arrival_min       0
Duration_hours    0
Duration_min      0
dtype: int64
222

In [7]:
data.drop_duplicates(inplace = True)

In [8]:
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin

In [9]:
class TimeFeatures(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        X = X.copy()
        X['Dep_total_min'] = X['Dep_hours'] * 60 + X['Dep_min']
        X['Arrival_total_min'] = X['Arrival_hours'] * 60 + X['Arrival_min']
        X['Duration_total_min'] = X['Duration_hours'] * 60 + X['Duration_min']
        X = X.drop(['Dep_hours', 'Dep_min', 'Arrival_hours', 'Arrival_min', 'Duration_hours', 'Duration_min'], axis=1)
        return X
categorical_cols = data.select_dtypes(include='object').columns
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_cols)
    ],
    remainder='passthrough'
)

model = RandomForestRegressor(random_state=42)

pipeline = Pipeline(steps=[
    ('time_features', TimeFeatures()),
    ('preprocessor', preprocessor),
    ('model', model)
])


param_grid = {
    'model__n_estimators': [50,100, 200, 300],
    'model__max_depth': [None,1,3,5,7,10],
    'model__min_samples_split': [2, 5, 7],
    'model__min_samples_leaf': [1, 2, 4, 6, 8]
}

In [11]:
X = data.drop('Price', axis=1)
y = data['Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

grid_search = GridSearchCV(pipeline, param_grid, cv=5, n_jobs=-1, scoring='neg_mean_absolute_error')
grid_search.fit(X_train, y_train)

best_model = grid_search.best_estimator_

y_pred = best_model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error: {mae}')
print(f'R-squared: {r2}')
print(f'Best Parameters: {grid_search.best_params_}')

Mean Absolute Error: 1157.0700825898225
R-squared: 0.8360705247510694
Best Parameters: {'model__max_depth': None, 'model__min_samples_leaf': 1, 'model__min_samples_split': 7, 'model__n_estimators': 300}